.navbar {
    display: flex;
    margin: 30px;
}

.navbar a {
    float: left;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: black;
    border-radius: 10px;
    margin: 0;
}

.dropbtn:hover  {
    background-color: rgb(245, 201, 6);
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}