body {
    margin: 0 120px;
}

.menu {    
    display: flex;
    width: auto;
    height: 70px;
}

.id_icon {
    margin: 27px 0 0 30px;
}

.icon {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

.logo {
    font-size: 30px;
    margin: 18px auto 0 25px;
}

#logo_text {
    color: rgb(245, 201, 6);
}


.log {
    font-size: 16px;
    padding: 6px 15px;
    margin: 20px 40px 13px 0;
    border: 1px solid black;
    border-radius: 8px;
}

a, a:visited {
    color: black;
    text-decoration: none;
}